.container
  .card.shadow
    .card-header
      %h3
        About Us
    .card-body
      %a{:href => "https://Islam4kids.org", :target => "_blank"} Islam4Kids e-learning platform
      is authored by Alisha Taylor.
      %p
      You can learn to build such applications on your own in this
      %b Bestseller Udemy Course
      🎥
      %a{:href => "https://www.udemy.com/course/2519558/?referralCode=4721E9D437DEE1734159"} Ruby on Rails 6: Learn 25+ gems and build a Startup MVP 2020
      %p
      Learn to build an e-learning platform step-by-step. 19 hours of video, 18 chapters and 200 lectures.
      %strong 500+ students already enrolled!
      %hr
      %h3 New hot project!

      💾
      \- Ruby on Rails row-based multitenancy SaaS template. Check it out!
      %p
      🎥
      %a{:href => "https://gumroad.com/l/lHKxjT"} Ruby on Rails 6: Learn to Build a B2B SaaS Multitenancy MVP 2020
      \- 🔥 My New Video Course. Build a multitenancy SaaS step-by-step. 13 hours of video, 20 chapters, 160 lectures.

      %hr
        📕
        %a{:href => "https://Islam4kids.org/blog"} My blog
      %p

    .card-footer
      Questions?
      %a{:href => "mailto:inspirebyexample0@gmail.com?subject=Islam4Kids%20Academy%20question"} Contact us
%br
