.container
  .card.shadow
    .card-header
      %h3
        About Us
    .card-body
      %a{:href => "https://Islam4kids.org", :target => "_blank"}Islam4Kids Academy
      is dedicated to helping children learn the deen no matter where they are in the world.

      %p
      We initially had a section on our weibsite where we added the worksheets and activities that we created for our own children, but then we realized if it takes a community to raise a child, it takes an ummah to raise an ummah. We created this community site to do just that!

    .card-footer
      Questions?
      %a{:href => "mailto:inspirebyexample0@gmail.com?subject=Islam4Kids%20Academy%20question"} Contact us
%br
