.container
  .card.shadow
    .card-header
      %h3
        Frequently Asked Questions
      %p
      %h6
        %em Click on an option below to see more information
      #accordion
        .card
          #headingOne.card-header
            %h5.mb-0
              %button.btn.btn-link{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-target" => "#collapseOne", "data-toggle" => "collapse"}
                Students
          #collapseOne.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordion"}
            .card-body
              %ul
                %li
                  Why is it free?
                  %ul
                    %li We believe that it is the duty of every Muslim to spread knowledge of the deen, even if it is one ayat. It is also the duty of every Muslim to seek knowledge, but there are not many resources available in English. As such, we wanted to provide a platform where you can do both, inshallah earning hasanat and ongoing rewards for the beneficial knowledge that you spread or learn.
                %li
                  Can adults use the site as well?
                  %ul
                    %li
                      Yes, all are welcome, but the site is geared towards children. If you feel that you would like to learn more, please consider visiting 
                      %a{:href => "https://diploma.iou.edu.gm/opencampus/"}> https://diploma.iou.edu.gm/opencampus/
                       which has many free course options available.
                %li
                  How do you protect the children using this site?
                  %ul
                    %li
                      We have taken many steps to ensure that children may learn on this website safely. This includes, but is not limited to the following:
                      %ul
                        %li You are not required to register to use the lessons on this site.
                        %li All courses must be approved by site admin before they are published to ensure safe materials are presented.
                        %li Teachers are not able to communicate directly with students.
                %li
                  What are comments for?
                  %ul
                    %li Comments allow students to pass feedback on to the teacher. This may be for mistakes in the course contents or praise for the teacher's work.
                %li
                  Can the teacher reply to my comments?
                  %ul
                    %li As of now, we are focused on the safety and privacy of any children using the site, so we do not allow the teacher to reply to the student. If we receive feedback that this is preferred, we may consider allowing moderated comments.
                %li
                  Who can see my comments?
                  %ul
                    %li Only the teachers and the site admin can see comments.
                %li
                  How many courses can I enroll in?
                  %ul
                    %li You are welcome to enroll in as many courses as you like!
                %li
                  I'm really enjoying Islamic Studies here. Can you recommend any other sites with more comprehensive programs?
                  %ul
                    %li
                      Absolutely! 
                      %a{:href => "http://www.iqraonlineacademy.com/"}> http://www.iqraonlineacademy.com/
                       has wonderfully structured courses which are free, mashallah. They cover many areas of Islam and may span many months. 
                %li
                  Is this an accredited school?
                  %ul
                    %li
                      No, this is simply a free resource to help children learn about Islam, inshallah. If you are interested in an accredited Islamic school online that is affordable, 
                      %a{:href => "https://americanislamic.school/ "}> https://americanislamic.school/
                      is the most reasonably priced accedited school that we could find at the time of this writing.
        .card
          #headingTwo.card-header
            %h5.mb-0
              %button.btn.btn-link.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "true", "data-target" => "#collapseTwo", "data-toggle" => "collapse"}
                Teachers
          #collapseTwo.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordion"}
            .card-body
              %ul
                %li
                  How do I become a teacher?
                  %ul
                    %li
                      Simply go to 
                      %a{:href => "https://www.islam4kids.academy/teach"} https://www.islam4kids.academy/teach
                      and add the Teacher's role to your profile.
                %li
                  Do I have to write full courses like a school to submit a course?
                  %ul
                    %li No, your course can be a short as a few paragraphs or as long as a full curriculum class. The choice is yours. What matters is that we are spreading the right message to children.
                %li
                  Why do my courses need admin approval before they are shown?
                  %ul
                    %li We monitor all courses to ensure the safety of the children that access this site and to ensure that the material presented is free of errors. Children absorb everything that they see and hear, so we strive to ensure all course content is factually and grammatically accurate.
                %li
                  What kinds of things are forbidden in the courses?
                  %ul
                    %li
                      We discourage of forbid the following:
                      %ul
                        %li Posting material that is strongly debated among scholars.
                        %li Courses that show content which is disliked or forbidden in Islam (inappropraite holiday scenes, people eating pork, people in inappropriate clothing, etc)
                %li
                  Can I charge money for my courses?
                  %ul
                    %li No. This is a free site. If interest is shown in allowing paid courses, we may consider that at a later date.
                %li
                  Can I be both a teacher and a student?
                  %ul
                    %li Absolutely! Feel free to enroll in other teacher's courses to get ideas for your own course.
                %li
                  Can I remove a student?
                  %ul
                    %li Yes, if you have a troublesome student or if a student asks to be removed, you can remove the student from the course at any time.
                %li
                  Can I put my personal contact details on the course so that students can reach out to me with questions?
                  %ul
                    %li No, to protect the safety and privacy of the children, this is not allowed.
        .card
          #headingThree.card-header
            %h5.mb-0
              %button.btn.btn-link.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "true", "data-target" => "#collapseThree", "data-toggle" => "collapse"}
                General
          #collapseThree.collapse{"aria-labelledby" => "headingThree", "data-parent" => "#accordion"}
            .card-body
              %ul
                %li
                  How can I help?
                  %ul
                    %li
                      If you would like to help, send an email to support@islam4kids.academy and let us know what you are interested in.
                %li
                  Is this website secure?
                  %ul
                    %li Yes, our site uses HTTPS secure protocols.
                %li
                  Can I make a website like this?
                  %ul
                    %li Yes, I took an online course to help me build this website
                    %a{:href => "https://www.udemy.com/share/1033KcAEMcd11TQnoD/"} https://www.udemy.com/share/1033KcAEMcd11TQnoD/
