= render layout: 'courses/course_wizard/step' do
  = simple_form_for @course, url: course_course_wizard_path, method: :put do |f|

    = f.input :price, :as => :hidden, :input_html => { :price => 0 }

    = f.button :submit, "Save & Continue"
